.button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
  padding: 0;
}

.title {
  font-weight: 600;
}

.fileShower {
  background-color: var(--white);
  border: 1px solid var(--black);
  position: relative;
  padding: 15px;
}