.textUploader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textUploaderInput {
    padding: 8px;
    width: 600px;
    height: 260px;
    font-size: 20px;
}

.textUploaderButton {
    margin-top: 30px;
    font-size: 20px;
}
