@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --yellow: #FFEA00;
    --white: #ffffff;
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    padding-top: 50px;
   
}

button {
    border: 1px solid var(--black);
    background-color: var(--white);
    padding: 8px 14px;
    font-family: "Jost", sans-serif;
    display: flex;
    /* width: fit-content; */
    cursor: pointer;
}

input {
    background-color: var(--white);
    font-family: "Jost", sans-serif;
}

textarea {
    resize: none;
    border: 1px solid var(--black);
    background-color: var(--white);
    font-family: "Jost", sans-serif;
}

ul {
    list-style: none;
}
