.homePage {
  background-color: var(--white);
  border: 1px solid var(--black);
  position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px;
   width: 1800px;
}

.homePageTitle {
  font-size: 50px;
  margin: 20px 0 80px 0;
}

.homePage::before {
  content: '';
  z-index: -1;
  position: absolute;
  background-color: var(--yellow);
  border: 1px solid var(--black);
  top: 8px;
  right: 8px;
  width: 100%;
  height: 100%;
}

.line {
  border: 1px dotted var(--black);
  height: 1px;
  width: 100%;
  margin: 30px 0;
}